/* rem and em do not depend on html font-size in media queries. Instead, we assume that 1 rem = 1 em = 16px */

/* em is because rem apparently has bugs in media queries*/

/* BELOW 1344 PIXELS */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .testimonials {
    grid-template-columns: repeat(1, 1fr);
  } */
}

/* BELOW 1200 PIXELS (LANDSCAPE TABLETS) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/*- Font sizes (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* BELOW 944 PIXELS (TABLETS) */
@media (max-width: 59em) {
  html {
    font-size: 53.125%;
  }
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }
  .hero-text-box {
    text-align: center;
    padding: 0 80px;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .hero {
    gap: 8rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .heading-featured-in {
    font-size: 1.2rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 4.8rem;
  }
  .section-testimonials {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 55fr 45fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 3rem;
  }
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    opacity: 0;
    transition: all 2s;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }

  .main-nav-list {
    display: flex;
    flex-direction: column;
    /* margin: 2rem; */
  }
  .main-nav-link:link {
    font-size: 4rem;
  }
  .nav-open .main-nav {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in;

    visibility: visible;
    pointer-events: auto;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/* FOR SMALLER TABLETS */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .diets {
    grid-column: span 2;
    justify-self: center;
  }
  .diets .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col {
    grid-column: span 3;
    grid-row: 2;
  }
  .address-col {
    grid-column: span 3;
    grid-row: 2;
  }
  .nav-col {
    grid-column: span 2;
    grid-row: 1/2;
  }
  .nav-col {
    grid-column: span 2;
    grid-row: 1/2;
  }
  .nav-col {
    grid-column: span 2;
    grid-row: 1/2;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
}
/* BELOW 544 PIXELS FOR PHONES */

@media (max-width: 34em) {
  .grid--3-cols,
  .grid--4-cols,
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    padding: 0 1rem;
  }
  .section-hero {
    padding: 2.4rem 0 4.8rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 2.4rem;
    margin-bottom: 1.6rem;
  }
  .logos img {
    height: 1.2rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    height: 40rem;
    grid-row: 1;
  }
}
